<div class="news">
  <h2>news</h2>

  {% if site.data.news and site.data.news.size > 0 %}
    <ul class="news-list">
      {% for item in site.data.news limit: site.news_limit %}
        <li>
          {% if item.url %}
            <a class="news-title" href="{{ item.url | relative_url }}">
              {{ item.text }}
            </a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No news so far…</p>
  {% endif %}
</div>
